.head {
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 8px 1px #76078a;
}
.channel {
    background-color: #76078a;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
}